@font-face {
  font-family: Manrope;
  src: url("./assets/fonts/Manrope-VariableFont_wght.ttf");
}

*{
  margin: 0;
  padding: 0;
}

#top{
  background-color:#252F3D;
  color: #fff; 
  font-family: "Manrope";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content:space-around ;
}

.stats{
  display: flex;
  align-items: center;
}

#top svg{
  padding-right: 8px;
}

#second{
  display: flex;
  padding: 30px 127px;
  justify-content: space-between;
  align-items: center;
}
.antivirus{
  display: flex;
align-items: flex-start;
gap: 32px;
}